In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
## Load the dataset 

data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
##pre process the data 
#drop irrelevant features 

data = data.drop(['RowNumber','CustomerId','Surname'],axis = 1)

In [4]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df = data

In [6]:
df.head()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [7]:
#Encoding categorical features 
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [8]:
data['Gender'].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [9]:
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [10]:
##Onehot encode "Geography" feature

from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder(sparse_output=False)
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [11]:
onehot_encoder_geo.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [12]:
geo_encoder_df = pd.DataFrame(geo_encoder, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [13]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [14]:
data = pd.concat([data.drop('Geography',axis=1), geo_encoder_df],axis = 1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
## save the encoder and scaler into a pickle file

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [20]:
## divide the data into independent and dependent features 

X = data.drop('Exited',axis=1)
y = data['Exited']

## split the data into training and testing set 

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

## Scale down features 
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [21]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [22]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler, file)

In [23]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

## ANN Implementation

In [28]:
## sequential model 
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

import datetime

In [29]:
## Build ANN Model

model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1], )), # HL1 connected with input layer
    Dense(32,activation = 'relu'), ##HL2 
    Dense(1, activation='sigmoid') ##Output layer
]
)

In [30]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [34]:
import tensorflow
opt = tensorflow.keras.optimizers.legacy.Adam(learning_rate = 0.01)

In [35]:
## Custom loss 
loss = tensorflow.keras.losses.BinaryCrossentropy()

In [32]:
##compile the model 

model.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

# model.compile(optimizer=opt, loss = loss, metrics=['accuracy'])

In [36]:
## setup tensorboard
## create logs
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [37]:
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

In [40]:
## setup earlystopping 
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [41]:
## training the model 

history = model.fit(
    X_train, y_train, validation_data = (X_test, y_test), epochs = 100,
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 652us/step - loss: 0.3237 - accuracy: 0.8675 - val_loss: 0.3382 - val_accuracy: 0.8600
Epoch 2/100
250/250 [==============================] - 0s 582us/step - loss: 0.3227 - accuracy: 0.8633 - val_loss: 0.3413 - val_accuracy: 0.8595
Epoch 3/100
250/250 [==============================] - 0s 728us/step - loss: 0.3200 - accuracy: 0.8666 - val_loss: 0.3399 - val_accuracy: 0.8585
Epoch 4/100
250/250 [==============================] - 0s 574us/step - loss: 0.3189 - accuracy: 0.8646 - val_loss: 0.3404 - val_accuracy: 0.8585
Epoch 5/100
250/250 [==============================] - 0s 544us/step - loss: 0.3172 - accuracy: 0.8670 - val_loss: 0.3377 - val_accuracy: 0.8580
Epoch 6/100
250/250 [==============================] - 0s 565us/step - loss: 0.3163 - accuracy: 0.8665 - val_loss: 0.3391 - val_accuracy: 0.8615
Epoch 7/100
250/250 [==============================] - 0s 540us/step - loss: 0.3148 - accuracy: 0.8700 - val_loss: 0.3377 - val_accuracy: 0.8650
Epoch 8/100
250/250 [==============================] - 0s 540us/step - loss: 0.3124 - accuracy: 0.8686 - val_loss: 0.3401 - val_accuracy: 0.8585
Epoch 9/100
250/250 [==============================] - 0s 540us/step - loss: 0.3117 - accuracy: 0.8700 - val_loss: 0.3411 - val_accuracy: 0.8600
Epoch 10/100
250/250 [==============================] - 0s 539us/step - loss: 0.3098 - accuracy: 0.8690 - val_loss: 0.3437 - val_accuracy: 0.8615
Epoch 11/100
250/250 [==============================] - 0s 596us/step - loss: 0.3081 - accuracy: 0.8699 - val_loss: 0.3404 - val_accuracy: 0.8615
Epoch 12/100
250/250 [==============================] - 0s 618us/step - loss: 0.3082 - accuracy: 0.8702 - val_loss: 0.3388 - val_accuracy: 0.8640
Epoch 13/100
250/250 [==============================] - 0s 594us/step - loss: 0.3062 - accuracy: 0.8701 - val_loss: 0.3429 - val_accuracy: 0.8620
Epoch 14/100
250/250 [==============================] - 0s 639us/step - loss: 0.3043 - accuracy: 0.8721 - val_loss: 0.3395 - val_accuracy: 0.8610
Epoch 15/100
250/250 [==============================] - 0s 559us/step - loss: 0.3019 - accuracy: 0.8721 - val_loss: 0.3487 - val_accuracy: 0.8535

In [42]:
## save the model 
model.save('model.h5')

/Users/athishsn/Desktop/python/udemy-python/ANN-project/Annclassifier/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [43]:
## load tensorboard extension 

%load_ext tensorboard

In [45]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 18830), started 0:01:09 ago. (Use '!kill 18830' to kill it.)

In [ ]:
## load the pickle file 

with open()